---
title: "Commit-Makrame"
_content: false
---

extends layouts/presentation

block append head
	title git Antipatterns

block content
	h5.whatthecommit

	section
		img.no-border.half-height(src='/img/failcat.png')
		h1 Commit Makrame
		//- h4 git Antipatterns

	section
		section
			h1 Generally
			.list
				h3 1. Mind the Scope
				h3 2. Write good, logical history
				h3 3. Hands off public history

	section
		section
			h1 1.
			h2 What is git's
			h1 Scope?
		
		section
			h2 Huge Files

		section
			h2 Binaries

		section
			h2 Binaries
			img.no-border.half-height(src='/img/git_diff_binaries.png')

		section
			h2 Assets and co
		
		section
			h2 Too many files

	section
		section
			h1 2.
			h3 Logical
			h1 Commits
			h3 Logical
			h1 History
		
		section.whatthecommit
			h2 Commit-Messages

		section.whatthecommit
			h2 Commit-Messages
			img.no-border.half-height(src='/img/xkcd.png')

		section.whatthecommit
			h2 Huge Commits

		section.whatthecommit
			h2 Tiny Commits

		section
			h2 No Feature Branches

		section
			h2 No Feature Branches
			img.no-border(src='/img/many-branches-1.png')

		section
			h2 No Feature Branches
			img.no-border(src='/img/many-branches-2.png')

		section
			h2 No Feature Branches
			img.no-border.half-height(src='/img/no-rebase-2.png')
			br
			img.no-border.half-height(src='/img/rebase.png')

		section
			h2 Long-lived Feature Branches
		
		section
			h2 Long-lived Feature Branches
			img.no-border.long-branch(src='/img/looong-branches.png')

		section
			h2 Branches per Dev

		section
			h2 Octomerges

		section
			h2 Octomerges
			img.no-border(src='/img/octomerge.png')

	section
		section
			h1 3.
			h1 Forging History
		
		section
			h2 That Commit was Wrong

		section
			h2 My History was ugly!

		section
			h2 Aaand suddenly, the branch is gone
			img.no-border.half-height(src='/img/octocat_sad.gif')

	section
		section
			h1 Hence:
			.list
				h3 1. Mind the Scope
				h3 2. Write good, logical history
				h3 3. Hands off public history
