---
title: "Commit-Makrame"
_content: false
---

extends layouts/presentation

block content
	section
		img.no-border.half-height(src='/img/failcat.png')
		h1 Commit Makrame
		//- h4 git Antipatterns

	section
		section
			h1 Grundsätzlich
			h3 Scope beachten
			h3 Gute, logische Geschichte bauen
			h3 Finger weg von öffentlicher Geschichte

	section
		section
			h2 Was ist der
			h1 Scope?
		
		section
			h2 Riesige Dateien

		section
			h2 Binaries

		section
			h2 Assets und co

		section
			h2 Zu viele Dateien

	section
		section
			h3 Logische
			h1 Commits
			h3 Logische
			h1 History
		
		section
			h4.whatthecommit
			h2 Commit-Messages

		section
			h2 Riesige Commits

		section
			h2 Winzige Commits

		section
			h2 Kein Feature-Branch

		section
			h2 Langlebige Feature-Branches

		section
			h2 Branches pro Dev

		section
			h2 Octomerges

	section
		section
			h1 Geschichtsfälschung
		
		section
			h2 Der Commit war falsch

		section
			h2 Die History war hässlich

		section
			h2 Und plötzlich war der Branch weg

	section
		section
			h1 Deshalb
			h3 Use Case beachten
			h3 Gute, logische Geschichte bauen
			h3 Finger weg von öffentlicher Geschichte
		
