img.no-border
	border:none !important
	background none !important
	box-shadow none !important

.reveal pre
	width 110% !important

pre .comment
	float right
	width 26em

// .cheat-sheet-branching, .cheat-sheet-remote, .stash-section
// 	pre .comment
// 		width 25em

.reveal .stage
	width 4.5em
	height 14em
	padding 1em 0.3em
	margin 0 1em
	display inline-block
	border-radius 3px
	vertical-align top

	h5
		color #000

.working
	background-color #F23A0D

.repo
	background-color #0DAEF2

.index
	background-color #FFCE0A

.reveal .stash
	background-color #AAA
	width 2em