#header
	background url("/img/background.png") repeat
	color #ccc
	border-top 6px solid #099
	height 14em
	margin-bottom 4em
	box-shadow 0px 3px 8px 0px #8E927E

body
	background-color #eee
	font-family "Titillium Web"
	font-size 12pt

a
	color #099

.big-git
	margin 4em 0

	img
		height 7em

.center
	text-align center

.cutebit
	text-align center
	position fixed
	bottom 25px
	width 100%
	color #099

