body
	background url("/img/background.png") repeat
	color #ccc
	border-top 6px solid #099
.big-git
	margin 6em 0
.center
	text-align center

.cutebit
	text-align center
	position fixed
	bottom 25px
	width 100%
	color #099