doctype html
html(lang='en')
	head

		meta(charset='utf-8')
		title Git
		
		link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,400italic', rel='stylesheet')
		link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		link(href='/vendor/bootstrap/css/bootstrap-theme.min.css', rel='stylesheet')
		link(href='/styles/style.css', rel='stylesheet')

	body
		block content