---
layout: 'default'
title: 'GITGITGIT'
---
section
	h1 Git Intro
	h4 für Kacknoobs

section
	h1 Scope

section
	section
		h3 Was ist ein
		h1 Version Control System


		aside.notes
			ul
				li rettet dich, wenn du dinge kacke machst
				li lässt dich frei experimentieren
				li auf ordentlichen stand resetten
				li gut collaborieren

	section
		h2 Features

section
	h2 Features

section
	pre: code(data-trim)
		| $> git init