---
layout: 'default'
title: 'GITGITGIT'
---
section
	h1 Git Intro
	h4 für Kacknoobs

// INTRO
section
	section
		h2 Was ist ein
		h1 Version Control System
	
		aside.notes
			ul
				li rettet dich, wenn du dinge kacke machst
				li lässt dich frei experimentieren
				li auf ordentlichen stand resetten
				li gut collaborieren
	
	section
		h3 Features

	section
		h3 Verteilt vs zentral

section
	section
		h1 Basics
		h4 um alleine anzufangen

	section
		h2 Setup und Konfiguration

	section
		h2 git-Sektionen

	section
		h4 anfangen
		h2 init
	
	section
		h4 arbeiten
		h2 add, commit, amend
	
	section
		h4 angucken
		h2 log, status, diff

	section
		h4 nimms weg!
		h2 cp, mv, rm, .gitignore, reset

section
	section
		h1 Branches
		h4 um sich dran aufzuhängen

	section
		h2 Wasn das?

	section
		h4 anfangen
		h2 checkout

	section
		h4 arbeiten
		h2 merge

	section
		h4 übersichtlich machen
		h2 tag

section
	section
		h1 Remotes
		h4 … andere arbeiten lassen

	section
		h2 Wasn das?

	section
		h4 anfangen
		h2 clone, remote add

	section
		h4 arbeiten
		h2 push

	section
		h4 arbeiten lassen
		h2 pull

	section
		h4 Bonus-Feature
		h2 stash

section
	section
		h4 pssst, bonus-material
section
	pre: code(data-trim)
		| $> git init
