---
layout: 'default'
title: 'TITLE ME!'
---
.container
	.row.center.git-workshop
		.big-git
			img(src='/img/git-name.svg')
		h4 Ich halte Workshops über git. Hier sind die Slides. Ohne begleitenden Vortrag helfen sie eher nur so mittel, aber guckt gern trotzdem rein. JavaScript wird gebraucht.
		h4 Ich habe noch Material für einen Workshop über nützliche obskure git-Features und git für Admins in der Hinterhand. Slides dafür kommen allerdings erst, wenn ich Gelegenheit hatte, solche Workshops auch zu halten.
		h2 Workshops
		a(href='/workshop1.html'): h4 Anfänger-Workshop
		a(href='/workshop2.html'): h4 Fortgeschrittenen-Workshop
		h2 Sonstiges
		a(href='/links.html'): h4 Nützliche Links
		a(href='mailto:rixx-git@cutebit.de'): Kontakt Kontakt für (An-)Fragen

.cutebit
	a(href='http://cutebit.de')
		img(src="http://cutebit.de/theme/img/cutebit.svg", style='height: 1em;')
		|  cutebit
	|  · 
	a(href='http://cutebit.de/impressum') Impressum
	|  ·

