---
layout: 'default'
title: 'TITLE ME!'
---
#header.center
	.big-git
		img(src='/img/git-name.svg')
	
.container
	.row
		.col-md-10.col-md-offset-1.text-justify
			| git ist ein modernes, verteiltes Versionskontrollsystem, das von Linux-Urheber Linus Torvalds entwickelt wurde.
			| Über die letzten Jahre hinweg hat es aufgrund seiner großen Flexibilität und Robustheit SVN als führendes Versionskontrollsystem überholt.
			| git bietet unter anderem die Möglichkeit, offline zu arbeiten, selbst wenn das Netzwerk oder der zentrale Server nicht erreichbar ist.
			| Es erleichtert außerdem das Zusammenarbeiten in kleinen wie großen Teams, die sorgfältige Strukturierung großer Projekte, und das Abbilden realistischer Workflows.
	
	.row
		.col-md-11.col-md-offset-1
			h2 Der Umstieg
			p Der Umstieg auf die Versionsverwaltung mit git hält einige Hürden bereit. Ich biete Beratung zu allen Teilen der Umstellung an:

			.col-md-3.text-left
				h3.text-center Die Migration
				| Bestehende Projektdaten müssen nach git migriert werden, idealerweise unter Beibehaltung der bisherigen Versionshistorie, beispielsweise von SVN.
				| Diese Migration kann gefahrlos neben der laufenden Entwicklung im alten Versionskontrollsystem erfolgen, was die Evaluation von git an bestehenden Projekten ermöglicht. 
				| Hierzu  biete ich Beratung und gegebenenfalls die Durchführung der Migration an.
				
			.col-md-3.col-md-offset-1.text-left
				h3.text-center Die Nutzung
				| Die Nutzung von git erfordert das Erlernen neuer Befehle und Tools seitens der Entwickler. 
				| Die wichtigsten git-Features, die zur Arbeit alleine und mit anderen benötigt werden, können in etwa vier bis sechs Stunden vermittelt und eingeübt werden. 
				| Außerdem sollte mit den Entwicklern und gegebenenfalls auch den Projektmanagern ein auf git basierender Workflow erarbeitet werden, der die Zusammenarbeit klar strukturiert.
				
			.col-md-3.col-md-offset-1.text-left
				h3.text-center Die Administration
				| Damit auch die Administration Ihrer neuen git-Server unproblematisch abläuft, biete ich Ihnen Hilfe bei der Evaluation diverser Server-Optionen an. 
				| Wenn Sie die Entscheidung für einen Server gefällt haben, unterstütze ich Sie bei der Installation und Einrichtung und informiere Sie über die häufigsten Probleme bei der Verwaltung von git-Software. 
				| Auch die Nutzung von GitHub oder Bitbucket für eventuelle Open-Source-Projekte kann hier besprochen werden.

	.row
		.col-md-10.col-md-offset-1.text-justify
			h2 Weiterbildung
			| git ist ein komplexes System, und die wenigsten Entwickler kennen alle hilfreichen Features und gefährlichen Fallstricke. 
			| In Weiterbildungsworkshops sollen die obskureren Seiten von git demonstriert und erklärt werden, um den Entwicklern eine bessere Nutzung von git zu ermöglichen.
	

	.row
		h4
		.text-center
			a(href='/links.html'): | Nützliche Links · 
			a(href='mailto:rixx-git@cutebit.de'): Kontakt Kontakt für (An-)Fragen


