---
layout: 'default'
title: 'TITLE ME!'
---
.container
	.row.center.git-workshop
		.big-git
			img(src='/img/git-name.svg')
		h4 Ich mach Workshops. Hier sind die Slides. Ohne begleitenden Vortrag helfen sie eher nur so mittel, aber guckt gern trotzdem rein. JavaScript wird gebraucht. Mehr über git-Themen kommt vermutlich demnächst auch im Blog.
		h1 Workshops
		a(href='/workshop1.html'): h4 Beginners Workshop
		a(href='/workshop2.html'): h4 Advanced Workshop

.cutebit
	a(href='http://cutebit.de')
		img(src="http://cutebit.de/theme/img/cutebit.svg", style='height: 1em;')
		|  cutebit
	|  · 
	a(href='http://cutebit.de/impressum') Impressum
	|  ·

