---
layout: 'default'
title: 'TITLE ME!'
---
.container
	.row
		h1.center git
	.row
		.col-md-6
			

		.col-md-6.center
			h3 Workshops
			a(href='/workshop1.html') Beginners Workshop
			br
			a(href='/workshop2.html') Advanced Workshop
