---
layout: 'default'
title: 'TITLE ME!'
---
.container
	.row
		h1.center git
	.row
		.col-md-6
			h3 Aboot
				Ich mach Workshops. Hier sind die Slides. Ohne begleitenden Vortrag helfen sie eher nur so mittel, aber guckt gern trotzdem rein. JavaScript wird gebraucht. Mehr über git-Themen kommt vermutlich demnächst auch im Blog.

		.col-md-6.center
			h3 Workshops
			a(href='/workshop1.html') Beginners Workshop
			br
			a(href='/workshop2.html') Advanced Workshop
