---
layout: 'default'
title: 'gitlinks'
---
h2 Links
h3 Essentials
ul
	a(href="http://git-scm.com/book") git-Tutorial
	a(href="http://git-scm.com/docs") gut formatierte manpages
	a(href="http://www.ndpsoftware.com/git-cheatsheet.html") Übersicht über alle Befehle bezüglich der Areas

h3 Zusätzlich
ul
	a(href="http://justinhileman.info/article/git-pretty/full/") Guide: Geschichtsfälschung
	a(href="http://pcottle.github.io/learnGitBranching/?NODEMO") Branching grafisch erklärt
	a(href="https://github.com/sensorflo/git-draw/wiki") Internals visualisiert

