- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- //- User
- styles.add(["/styles/style.css"])
- styles.add(["/vendor/bootstrap/css/bootstrap.min.css"])
- styles.add(["/vendor/bootstrap/css/bootstrap-theme.min.css"])

//- - scripts.add(["/scripts/script.js"])

doctype html
html(lang='en')
	head

		meta(charset='utf-8')
		title Git
		!= getBlock('meta').toHTML()
		!= styles.toHTML()
	body
		!= content

		!= scripts.toHTML()