- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- //- User
- styles.add(["/styles/style.css"])
//- - scripts.add(["/scripts/script.js"])

!!! 5
html(lang='en')
	head

		meta(charset='utf-8')
		title Git
		!= getBlock('meta').toHTML()
		!= styles.toHTML()
	body
		!= content

		!= scripts.toHTML()