// .backgrounds
// 	background url("/img/background.png") repeat
// 	color #ccc
// 	border-top 6px solid #099

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6
	text-transform initial

.progress span
	background #099
	background none repeat scroll 0% 0% #099

.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled
	border-right-color #099


img.no-border
	border:none !important
	background none !important
	box-shadow none !important
	
img.half-height
	max-height 50vh
	
img.long-branch
	max-width 200vw
	max-height 200vh
	position absolute
	left -50vw

.reveal pre
	width 110% !important

pre .comment
	float right
	width 26em

// .cheat-sheet-branching, .cheat-sheet-remote, .stash-section
// 	pre .comment
// 		width 25em

.reveal .stage
	width 4.5em
	height 14em
	padding 1em 0.3em
	margin 0 1em
	display inline-block
	border-radius 3px
	vertical-align top

	h5
		color #000

.working
	background-color #F23A0D

.repo
	background-color #0DAEF2

.index
	background-color #FFCE0A

.reveal .stash
	background-color #AAA
	width 3em
	
.list
	text-align left
	
h5.whatthecommit
	font-style italic
	display none
	
	&:before, &:after
		font-size 1.5em
		color gray
		

	&:before
		content '» '
		
	&:after
		content ' «'
